img{
    width: 15%;
    height: 15%;
}
.img1{
height: 10%;
width: 15%;
}
.img2 {
    border: 2px solid black;
}


body{
    margin-left: 100px;
    background:rgb(120, 120, 120);
}
h1{
    color: blue;
}
h3{
    color: blue;
}
li{
    color: white;
}
p{
    color: white;
}
strong{
    color: white;
}
a{
    color: red;
}
span{
    color: yellow;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}