doctype html 
html 
    head
        title home  work
    body 
        h1 The Number Quiz
        p Your current score is #{scores}
        p You have completed the Number Quiz, with the score of #{scores} out of 5.