input {
    margin-top: 10px;
    margin-top: 10px;
}

body {
    width: 90%;
    margin-left: auto;
    margin-left: auto;
}

textarea {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    margin-top: 10px;
}